@import 'base/mixins';
@import 'base/variables';
@import 'base/blocks/promo';
@import 'base/blocks/header';
@import 'base/blocks/buttons';
@import 'base/blocks/advantage';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
